<div id="content">
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Mateusz Ziemba<br />
        .NET Developer<br />
    </address>

    <address>
        <strong>E-Mail:</strong>   <a href="mailto:ziemba.mateusz.3@gmail.com">ziemba.mateusz.3@gmail.com</a><br />
    </address>
</div>